* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

.container {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  overflow: auto;
  display: flex;
}

.top-bar {
  background: #FF6600;
}

.options {
  text-align: center;
}

.shipping {
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  background: #B8B8B8;
  margin: 0.1%;
}

.order {
  color: white;
  font-size: 1rem;
  margin: 0.1%;
  flex-direction: column;
}

.menu {
  display: flex;
}

.ties {
  background: #F5F5F5;
  flex-direction: column;
}

.tie-image {
  width: 75%;
}

.images {
  width: 40%;
  display: flex;
}

.text {
  margin-left: 20%;
}

.tie-text {
  margin-left: 10%;
}

.better {
  font-size: 3rem;
  text-align: center;
  margin: 0;
  background: #F5F5F5;
}

.squares {
  width: 30%;
}

.other {
  flex-direction: column;
  justify-content: space-between;
}

.story {
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
}

.blue {
  color: blue;
  font-size: 0.8rem;
  font-style: normal;
}

.links {
  flex-direction: row;
}

.small-box {
  width: 75%;
}

.footer {
  flex-direction: column;
}
