* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

.container {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  overflow: auto;
  display: flex;
}

.top-bar {
  background: #FF6600;
}

.options {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: 1.5rem;
  margin: 1%;
}

.shipping {
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  background: #D80000;
  margin: 0.5%;
  padding: 0.5%;
}

.order {
  color: white;
  font-size: 1rem;
  margin: 0.1%;
  flex-direction: column;
}

.menu {
  display: flex;
}

.ties {
  background: #F5F5F5;
  flex-direction: column;
}

.tie-image {
  width: 75%;
}

.images {
  width: 40%;
  display: flex;
}

.text {
  margin-left: 20%;
}

.tie-text {
  margin-left: 10%;
}

.better {
  font-size: 3rem;
  text-align: center;
  margin: 0;
  background: #F5F5F5;
}

.squares {
  width: 100%;
}

.middle {
  background: #F5F5F5;
  margin: 1%;
  text-align: right;
  padding: 1%;
}

.other {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.story {
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
}

.blue {
  color: blue;
  font-size: 0.8rem;
  font-style: normal;
}

.blue-style {
  color: blue;
}

.links {
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 1%;
}

.small-box {
  width: 80%;
}

.small-text {
  font-size: 0.8rem;
}

.footer {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-end;
  background: #F5F5F5;
}

.info {
  background: #A8A8A8;
  color: white;
}

.contact {
  background: #00aced;
}
